.card .card-content {
  padding-top: 10px
}
.card .card-content .card-title {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}
.card .card-btn {
  position: absolute;
  right: 15px;
  color: #333
}

.data-value {
  position: relative;
  float: left;
  width: 30%; height: 0;
  padding-bottom: 30%;
}
.data-value .value {
  position: absolute;
  text-align: center;
  font-size: 24px;
  color: #ffab40;
  top: calc(50% - 18px);
  left: calc(50% - 44px);
}

.data-value .btn-floating {
  width: 80px; height: 80px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}
.data-value .btn-floating i {
  font-size: 36px; line-height: 80px;
}
.data-script {
  position: relative;
  float: left;
  width: 65%;
  margin-left: 5%;
  text-align: center;
}
